<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="app">
   <div v-if="books.length">
    <table border="1">
        <thead>
            <tr>
                <th> </th>
                <th>书籍名称</th>
                <th>出版日期</th>
                <th>价格</th>
                <th>购买数量</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in books"> 
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.date }}</td>
                <!-- <td>{{ getFinalPrice(item.price) }}</td> -->
                <td>{{ item.price | showPrice }}</td>
                <td>
                    <button @click="sub(index)" :disabled=" item.count <= 1">-</button>
                    {{ item.count }}
                    <button @click="add(index)">+</button>
                </td> 
                <td>
                    <button @click="deleteLine(index)">移除</button>
                </td>        
            </tr>
            <!-- <h2>总价格：{{ getFinalPrice(totalPrice) }}</h2> -->
            <h2>总价格：{{ totalPrice | showPrice }}</h2>
        </tbody>
    </table>
   </div>
   <h2 v-else>购物车为空</h2>
</div>
<script src="./vue.js"></script>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            books: [
            {id:1, name:'《算法导论》', date:'2006-9', price:85, count:1},
            {id:2, name:'《UNIX编程艺术》', date:'2006-2', price:59, count:1},
            {id:3, name:'《编程珠玑》', date:'2008-10', price:39, count:1},
            {id:4, name:'《代码大全》', date:'2007-1', price:128, count:1}
             ]   
        },
        methods: {
            sub(index) {
                this.books[index].count--
            },
            add(index) {
                this.books[index].count++
            },
            deleteLine(index) {
                this.books.splice(index,1)
            },
            // getFinalPrice(price) {
            //     return '￥' + price.toFixed(2)   //toFixed保留两位小数
            // },
        },
        computed: {
            totalPrice() {
                // 1.let total = 0  
                // for (let i = 0; i< this.books.length; i++) {
                //     total += this.books[i].price * this.books[i].count
                // }
                // return total
                // 2.let total = 0  
                // for (let i in this.books) {  //in 数组  for in得到的是索引
                //     total += this.books[i].price * this.books[i].count
                // }
                // return total
                // 3.let total = 0
                // for (items of this.books) {  //for of得到的是值
                //     total += items.price * items.count
                // }
                // return total
                return this.books.reduce(function (preValue, book) {
                    return preValue + book.price * book.count
                },0)
             }
        },
        filters: {  //过滤器，要过滤的东西作为参数
            showPrice(price) {
                return '￥' + price.toFixed(2)
            }
        }
    })
</script>
</body>
</html>